<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
</head>
<body>
  <h1>新しく質問が投稿されました！</h1>
  <p>
    以下の質問が投稿されました。
  </p>
  <ul>
    <li>質問タイトル：</li>
    <li><%= @question.title %></li>
    <li>質問内容：</li>
    <li><%= @question.body %></li>
  </ul>
</body>
</html>